section.info
    .container
        .row
            .preview.col-md-4
                .info__title
                    h2.info__header HIZLI ERİŞİM
                    .info__icon.icon-preview
                .row
                    .preview__item.col-md-6 
                        .preview__icon.icon-map
                        p Bayi ve Servisler
                    .preview__item.col-md-6 
                        .preview__icon.icon-service
                        p Servis Talep Formu
                    .preview__item.col-md-6 
                        .preview__icon.icon-men
                        p Bayi Talep Formu
                    .preview__item.col-md-6  
                        .preview__icon.icon-keys
                        p Kiralama Talep Formu
                    
            .news.col-md-4
                .info__title
                    h2.info__header BİZDEN HABERLER
                    .info__icon.icon-news
                .row
                    .news__img.col-md-6: img(src='../images/fornews.png')
                    .news__text.col-md-6
                        h3.news__header Yeni nesil AC motor
                        .news__description Elektrikli forkliftler için akü en önemli parçalardan biri olarak. Ana güç kaynağı olarak yerli Mutlu, İnci ve Hoppecke gibi akülerin kullanıldığı Hangcha Group HC yeni nesil A serisi forkliftler
                        
            .video.col-md-4
                .info__title
                    h2.info__header TANITIM FİLMİ
                iframe(width="385" height="216" src="https://www.youtube.com/embed/xFa2_PVMeDQ" frameborder="0" allowfullscreen)
                    
