section.product
    .left iiiii
    .container
        .product__list
            .row
                .product__item.col-md-3: img( src='../images/arac1.png')
                .product__item.col-md-3: img( src='../images/arac2.png')
                .product__item.col-md-3: img( src='../images/arac3.png')
                .product__item.col-md-3: img( src='../images/arac4.png')