.footer{

    &__top{
        height: 216px;
        background: linear-gradient(to right, rgba(237,237,237,1) 0%, 
                                              rgba(237,237,237,1) 65%, 
                                              rgba(216,216,216,1) 65%, 
                                              rgba(216,216,216,1) 100%);
    }



    &__bottom{
        background-color: $footer-bg;
        height: 63px;

    }
    &__copy{
        color: $footer-color;
        font-size: 0.8rem;
        line-height: 1.75;
        margin: 22px 0;
    }
    &__mediaclick{
        color: $footer-color;
        font-size: 0.8rem;
        line-height: 1.75;
        margin: 22px 0;
    }
}
.form{
    padding-left: 30px;

    &__email{
        
    }
}