@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNovaBold.otf") format("otf");
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: "Proxima Nova Extrabold";
  src: url("../fonts/ProximaNovaExtrabold.otf") format("otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans.ttf") format("ttf");
  font-style: normal;
}